<template name="selectedHashtags">
  <!-- <div class="two column row"> -->
  <div class="column">
	{{#with selectedLeftHashtag}}  	
    
  		<a id="remove-hashtag" class="ui yellow large circular label">
  			{{this}}
        <i  class="delete icon"></i>
  		</a>
    
  {{/with}}

	{{#with selectedRightHashtag}}
  and
    
      <a id="remove-hashtag" class="ui yellow large circular label" >{{this}}<i class="delete icon"></i></a>
    
	{{/with}}
  </div>
<!-- </div> -->

	<!-- {{#each selectedHashtags}}
		<a id="remove-hashtag" class="ui blue large label" >
  		{{this}}
  		<i  class="delete icon"></i>
		</a>	
	{{/each}} -->
  
</template>