<template name="admin">

  
  

  <form class="new-inTime">
    <input type="text" name="hour">시
    <input type="text" name="minute">분
    <input type="submit" value="in">
  </form>
  <form class="new-outTime">
    <input type="text" name="hour">시
    <input type="text" name="minute">분
    <input type="submit" value="out">
  </form>

  <br>

    <button class="in">In</button>
    <button class="out">Out</button>
    <button class="resetRecords">Reset record</button>
  
  <br/><br/>





<table class="ui celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>{{_id}}</td>
        <td>{{profile.name}}</td>
        <td>{{emails.[0].address}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<button id="resetHashtags">Reset Hashtags</button>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>count</th>
      <th>total time</th>
    </tr>
  </thead>
  <tbody>
    {{#each hashtags}}
      <tr>
        <td>{{name}}</td>
        <td>{{count}}</td>
        <td>{{totalTime}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>


</template>

