<template name="admin">

  
  

  <form class="new-inTime">
    <input type="text" name="hour">시
    <input type="text" name="minute">분
    <input type="submit" value="in">
  </form>
  <form class="new-outTime">
    <input type="text" name="hour">시
    <input type="text" name="minute">분
    <input type="submit" value="out">
  </form>

  <br>

    <button class="in">In</button>
    <button class="out">Out</button>
    <button class="resetRecords">Reset record</button>
    <button class="resetUser">Reset</button>
  
  <br/><br/>



</template>

