
<template name="card">
  <div class="card">
    <div class="ui attached segment">
      <h4 class="ui header">{{date}}</h4>
        {{#if isEditMode}}
          <a class="ui right corner label" id="remove-item">
            <i class="remove icon"></i>
          </a>
        {{/if}}
          <div id="" contentEditable="false">{{{text}}}</div>
      <!-- <div class="ui fluid transparent form">
        <div class="field">
          <textarea {{isReadonly}} rows="2">{{text}}</textarea>
        </div>
      </div> -->
      <!-- <div class="ui fluid transparent input">
        <input type="text" placeholder="How`s today?">
      </div> -->  
    </div>
    <div class="ui bottom attached two buttons">
      <div class="ui green disabled button">
        {{#if inTime}}
          {{inTime}}
        {{else}}
          In
        {{/if}}
      </div>
      {{#if outTime}}
        <div class="ui green disabled button">
        {{outTime}}</div>
      {{else}}
        <div class="ui green button" id="add-existingCheckOut">
        Out</div>
      {{/if}}
      
    </div>
  </div>
</template>



<template name="inputCard">
  <div class="card">
    <div class="ui top attached segment">
      <h4 class="ui header">Create new timestamp</h4>
    </div>
    <div class="ui attached segment">
      

      <!-- <div class="ui fluid transparent form">
        <div class="field">
          <textarea id="add-newCheckText" rows="4" placeholder="How`s today?"></textarea>
        </div>
      </div> -->

      
      <div id="add-newCheckText" contentEditable="true" data-placeholder="How`s today?"></div>

      <!-- <div class="ui fluid transparent input">
        <input type="text" placeholder="How`s today?">
      </div> -->  
    </div>
    <div class="ui two bottom attached buttons">
      <div class="ui green button" id="add-newCheckIn">
        In
      </div>

      <div class="ui green button" id="add-newCheckOut">
        Out
      </div>
    </div>
  </div>
</template>