
#new-card {
	background-color: transparent;
}

div.ui.segment.timestamp {
	width: 50%;
}

div.ui.green.inverted.segment.timestamp {
	width: 50%;
}

/*
div.main {
  overflow: hidden;
}
*/



div.ui.stackable.cards {
    padding-top: 60px;
     overflow: hidden;
}