<template name="contents">
  <!-- <div class="main">  -->
    <div class="ui one cards"> <!-- Has a problem of showing just one row in wider screens -->
      <!-- Add new timestamp -->

      {{#if Template.subscriptionsReady}}
        {{>inputCard}}

        {{#each timestamps}}
          {{> card}}
        {{/each}}

        {{#if canLoadMore}}
          <div class="card">
            <button id="loadMoreItems" class="fluid ui button">Load more...</button>
          </div>
        {{/if}}
      {{else}}
        {{> loading}}
      {{/if}}




      

    </div>
  <!-- </div> -->
</template>



