
#new-card {
	background-color: transparent;
}


#spacer {
  padding-top: 50px;
}


.ui.form textarea {
    resize: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
  
}

div.ui.segment.timestamp {
	width: 50%;
}

div.ui.green.inverted.segment.timestamp {
	width: 50%;
}

/*
div.main {
  overflow: hidden;
}
*/

.card {
  margin-top: 0.775em;
}


div.ui.cards {
    padding-top: 50px;
     overflow: hidden;
}

.hashtag {

  color: #1678c2;
  font-weight: bold;
}




[contentEditable=true]:empty:before{
  content:attr(data-placeholder);
  color:gray;

}
[contentEditable=true]:focus{
  background-color: #cce2ff;
}

#add-newCheckText[contentEditable=true] {
  min-height: 64px;    

}

