<template name="contents">
  <main>
    {{#each timestamps}}
      {{> card}}
      <p>test</p>
    {{/each}}
  </main>
</template>

<template name="card">
  <section class="card">
    <div class="card-menu">
      <span class="card-remove">Remove</span>
      <span class="card-edit">Edit</span>
    </div>
    <div class="card-title">
      <h1><strong>{{date}}</strong></h1>
    </div>
    <div class="card-content">
      START : {{inTime}}<br>
      END : {{outTime}}<br>
    </div>
    <div class="card-summary">
      Today`s working time :  {{workingTime}}
    </div>
  </section>
</template>