
#new-card {
	background-color: transparent;
}


#spacer {
  padding-top: 50px;
}


.ui.form textarea {
    resize: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
  
}

div.ui.segment.timestamp {
	width: 50%;
}

div.ui.green.inverted.segment.timestamp {
	width: 50%;
}

/*
div.main {
  overflow: hidden;
}
*/



div.ui.cards {
    padding-top: 50px;
     overflow: hidden;
}

.hashtag {

  color: #FD7A79;
  font-style: bold;
  text-decoration: none;
}

[contentEditable=true]:empty:before{
  content:attr(data-placeholder);
  color:gray;

}

[contentEditable=true] {
  min-height: 64px;    

}





