<template name="hashtag">
	<div id="spacer"></div>

  <div class="ui one column centered stackable grid">
    {{#if Template.subscriptionsReady}}
      <div class="column">{{>hashtagSearch}}</div>
      <div class="column">
        <!-- Suggested hashtags :  -->
        {{>suggestedHashtags}}
      </div>
      <div class="column">{{>selectedHashtags}}</div>
      <div class="column">{{>hashtagGraph}}</div>
      <div class="column">test</div>
    {{else}}
      {{> loading}}
    {{/if}}
  </div>
</template>

<template name="suggestedHashtags">
  {{#each suggestedHashtags}}
    <a id="add-hashtag" class="ui blue large label">#{{name}}</a>  
  {{/each}}
</template>

<template name="hashtagSearch">
  <div class="ui search">
    <div class="ui fluid icon large input">
      <input class="prompt" type="text" placeholder="#hashtags...">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
</template>

<template name="selectedHashtags">
	{{#each selectedHashtags}}
		<a id="remove-hashtag" class="ui blue large label" >
  		{{this}}
  		<i  class="delete icon"></i>
		</a>	
	{{/each}}
</template>

<template name="hashtagGraph">
  {{#with hashtagInfo}}
    <ul>
      <li>Total time : {{totalTime}}</li>
      <li>Total count : {{count}}</li>
      <li>Average time : {{avgTime}}</li>
    </ul>
  {{/with}}
</template>