<template name="login">
	<form class="login">
		<input type="email" class="email" placeholder="E-mail address">
  		<input type="password" class="password" placeholder="Password">
  		<button class="login">Log in</button>
  		<p>If not a member? <a href="">Join now!</a></p>
 	</form>
</template>

<template name="join">
	<form class="join">
		<input type="name" class="name" placeholder="User name">
		<input type="email" class="email" placeholder="E-mail address">
  		<input type="password" class="password" placeholder="Password">
  		<button class="join">Join</button>	
 	</form>
</template>

