<template name="menubar">
	<div class="ui top fixed borderless green inverted menu">

		<a class="item" id="home" onclick="void(0)">
			TIMESATMP
		</a>
		<!-- <a class="item" id="profile">
			PROFILE
		</a> -->
		<a class="item" id="hashtag" onclick="void(0)">
			#hashtag
		</a>
		
		<div class="right menu">
		    <div class="ui dropdown item">
	    	<i class="fitted ellipsis vertical icon"></i>
		    	<div class="menu">
		        	<a class="item" id="toggle-edit">Edit</a>
		        	<a id="settings" class="item">Settings</a>
		        	<a class="item" id="logout">Log out</a>
		      	</div>
		    </div>
		</div>
	</div>
</template>