<template name="modalAddHashtag">
  <div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
      New hashtag
    </div>
    <div class="content">
      <!-- <div class="image">
        <i class="add square icon"></i>
      </div> -->
      <!-- <div class="description"> -->
        <!-- <p> Type new hashtag here </p> -->
        <!-- <div class="ui input">
          <input type="text" placeholder="#newHashtag">
        </div> -->
        <div class="ui fluid labeled transparent input">
          <!-- <div class="ui green label"> -->
            #
          <!-- </div> -->
          <input type="text" id="input-hashtag" placeholder=" Type new hashtag...">
        </div>
      <!-- </div> -->
    </div>
    <div class="actions">
      <div class="one fluid ui buttons">
        <!-- <div class="ui cancel red basic button">
          <i class="remove icon"></i>
          No
        </div> -->
        <div class="ui approve green button" id="add-hashtag">
          <i class="checkmark icon"></i>
          Add
        </div>
      </div>
    </div>
  </div>
</template>