<template name="modalRemoveItem">
  <div class="ui basic modal">
    <i class="close icon"></i>
    <div class="header">
      Remove item
    </div>
    <div class="image content">
      <div class="image">
        <i class="trash icon"></i>
      </div>
      <div class="description">
        <p>If you remove this item, you will lose your EXP that gained with this item.</p>
      </div>
    </div>
    <div class="actions">
      <div class="two fluid ui inverted buttons">
        <div class="ui cancel red basic inverted button">
          <i class="remove icon"></i>
          No
        </div>
        <div class="ui approve green basic inverted button">
          <i class="checkmark icon"></i>
          Yes
        </div>
      </div>
    </div>
  </div>
</template>