<template name="profile">
	<div class="ui segments">
		<div class="ui horizontal segments">
			<div class="ui center aligned segment">
	    	 	<div class="ui statistic">
	    			<div class="value">{{level}}</div>
	    	    	<div class="label">Level</div>
	    	  	</div>
		    </div>
		    <div class="ui center aligned segment">
	    	 	<div class="ui statistic">
	    			<div class="value">{{exp}}</div>
	    	    	<div class="label">EXP</div>
	    	  	</div>
		    </div>
		</div>
		<div class="ui horizontal segments">
			<div class="ui center aligned segment">
	    	 	<div class="ui statistic">
	    			<div class="value">{{ranking}}</div>
	    	    	<div class="label">RANK</div>
	    	  	</div>
		    </div>
		    <div class="ui center aligned segment">
	    	 	<div class="ui statistic">
	    			<div class="value">{{username}}</div>
	    	    	<div class="label">Name</div>
	    	  	</div>
		    </div>
		</div>
	</div>
	
	<!-- <div class="ui card">
	  	<div class="circle image">
	    	<img src="/images/avatar2/large/kristy.png">
	  	</div>
		<div class="content">
			<p>{{username}}</p>
		</div>
		<div class="content">
			<p>totalWorkingTime</p>
		</div>
		<div class="content">
			<p>averageWorkingTime</p>
		</div>
		<div class="extra content">
			Share button
		</div>
	</div> -->

</template>