<template name="profile">
	<div id="spacer"></div>
	
	<div class="ui segments">
		<div class="ui center aligned segment">
		 	<img class="ui centered small circular image" src="/images/doge.jpeg">
			<h2>{{username}}</h2>
		</div>
		<div class="ui center aligned segment">
		 	<h3>Level {{level}}</h3>
		  	{{> expbar}}
		</div>
		<!-- <div class="ui center aligned segment">
		 	<div class="ui statistic">
		 		<div class="label">RANK</div>
				<div class="value">{{ranking}}</div>
		  	</div>
		</div> -->
	</div>
	
</template>




 <!-- <div class="ui centered card">
	  	
	    
	  	
		<div class="content">
			<img class="ui centered small circular image" src="/images/doge.jpeg">
			<h2>{{username}}</h2>
		</div>
		<div class="content">
			Level {{level}}
		</div>
		<div class="content">
			{{> expbar}}
		</div>
		<div class="extra content">
			
		</div>
	</div> -->