<template name="splash">
	<div class="ui middle aligned center aligned padded grid">
		<div class="column">
			<h1 class="ui center aligned inverted icon header">
			  <i class="wait icon"></i>
			  TIMESTAMP
			</h1>
		</div>
	</div>	
</template>



<template name="seeSplash">
	<div class="ui middle aligned center aligned padded grid">
		<div class="column">
			<h1 class="ui center aligned inverted icon header">
			  <i class="wait icon"></i>
			  TIMESTAMP
			</h1>
		</div>
	</div>	
</template>



